html,
body{
  width: 100%;
}

body{
  color: $default;
  font-size: 14px;
  line-height: 32px;
  @extend %OpenSans-400;
}

.container{
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

.logo__img{
  width: 100%;
  height: 100px;
  object-fit: contain;
}

.btn{
  display: inline-block;
  font-size: 18px;
  line-height: 1;
  font-weight: 700;
  @extend %OpenSans-Bold;
  padding: 15px 25px;
  border: 1px solid transparent;
  background-color: $accent;
  color: $menu;
  text-transform: uppercase;
  transition: all .3s;
  cursor: pointer;
  &:hover{
    color: $accent;
    background-color: $menu;
    border: 1px solid $accent;
  }
}

h3.title{
  font-size: 30px;
  line-height: 1;
  font-weight: 700;
  @extend %OpenSans-Bold;
  color: $accent;
  text-align: center;
}