html,
body{
  width: 100%;
}

body{
  color: $default;
  font-size: 14px;
  line-height: 32px;
  @extend %OpenSans-400;
}

.container{
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

.logo__img{
  width: 100%;
  height: 100px;
  object-fit: contain;
}