$default: #000;
$accent: #fabd00;
$background: #ccc;
$wrapper: rgba(0,0,0,0.6);
$menu: #fff;


%OpenSans-400{
  font-family: 'OpenSans-Regular', sans-serif;
  font-weight: 400;
}

%OpenSans-italic{
  font-family: 'OpenSans-Italic', sans-serif;
  font-weight: 400;
}

%OpenSans-Bold{
  font-family: 'OpenSans-Bold', sans-serif;
  font-weight: 700;
}


@function max($numbers...) {
@return m#{a}x(#{$numbers});
}
@function min($numbers...) {
@return m#{i}n(#{$numbers});
}