<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Мастер-декоратор - Кузьменко Денис - нанесение декоративной штукатурки в Севастополе и в Крыму</title>
  <link rel="stylesheet" href="css/style.min.css">
  <link rel="icon" href="favicon.png" type="image/png">
  <link rel="apple-touch-icon" href="favicon.png">
</head>
<body>
  
{% include 'app/module/_header/_header.html' %}

  <main>

    {% include 'app/module/_top-slider/_top-slider.html' %}
    {% include 'app/module/_portfolio/_portfolio.html' %}
    {% include 'app/module/_price/_price.html' %}
    {% include 'app/module/_materials/_materials.html' %}
    {% include 'app/module/_reviews/_reviews.html' %}

  </main>

{% include 'app/module/_footer/_footer.html' %}

  <script src="js/main.min.js"></script>
</body>
</html>








